* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color:#0f172a;
  --stroke-color: #1e293b;
  --text-color-primary:#f1f5f9;
  --text-color-secondary:#cbd5e1;

  --font-family: "Archivo", sans-serif;
  --h1: 800 1.5rem/135% var(--font-family);
  --h2: 800 1rem/140% var(--font-family);
  --h3: 800 .875rem/140% var(--font-family);
  --txt-span: 600 .875rem/145% var(--font-family);
  --txt: 400 1rem/140% var(--font-family);
  --txt-sm: 400 .875rem/160% var(--font-family);
}
body {
  font: var(--txt);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--brand-color-light);
}
h1, h2, h3 {
  font: inherit;
}

.text-break-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;      /* número de linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-break-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;      /* número de linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-break-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;      /* número de linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

img {
  max-width: 100%;
}
.container {
  max-width: 80rem;
  padding-inline: 2rem;
  margin-inline: auto;
}
main {
  margin-block: 2.5rem;
  gap: 2rem;
  @media (min-width: 80em) {
    column-gap: 2rem;
    row-gap: 5rem;

    grid-template-columns: 2fr 1.4fr;
    grid-template-areas: "featured featured" "weekly weekly" "ai aside";
  }
}
.content-tag {
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: .25rem .5rem;
  border-radius: .25rem;
  font: 500 .625rem/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--text-color-primary);
  box-shadow: 0px .25rem 1rem rgba(2, 6, 23, 0.251);
}


@media (width < 80em) {

  .no-mobile {
    display: none;
  }

  .container {
    max-width: 100%;
    padding-inline: 1rem;
  }
}