#primary {
  padding-block: 1.25rem;
  grid-auto-flow: column;

  div {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  div:nth-child(2) {
    margin-inline: auto;
  }
  div:nth-child(3) {
    justify-self: end;
  }
}
#secondary {
  padding-block: .875rem;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}

@media (width < 80em) {
  #primary {
    padding-block: 1rem;

    & img[src*="Logo"] {
      height: 1.25rem;
    }
  }

  #secondary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9.0625rem, 1fr));
    grid-auto-flow: row;
    gap: .25rem;
    padding-block: .875rem;
    text-align: center;
  }
}